{% extends 'AppCoder/base.html' %}
{% load static %}

{% block tituloPagina %}
Alumnos - AppCoder
{% endblock %}

{% block contenidoPagina %}

<section class="row gx-4 justify-content-center">
    Los alumnos son:
    {% for alumno in alumnos %}
    <li>{{alumno.nombre}} {{alumno.apellido}}</li>
    {% endfor %}
</section>

{% endblock %}




<!--{% extends 'PrimerProyecto\AppCoder\templates\AppCoder\index.html' %}

{% block referencia %}

    <h1>Alumnos:</h1>
    <ul>
        {%for Alumnos in alumno %}
        <li>{{Alumnos.nombre}} {{Alumnos.apellido}}, edad: {{Alumnos.edad}}, deporte: {{Alumnos.deporte}}</li>
        {%endfor%}
    </ul>

{% endblock %} -->